 .u-section-1 {
  background-image: url("/images/DALLE2023-03-1701.03.23-80sposterstylerobothackers.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 446px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 368px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 282px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 212px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 133px;
  }
} .u-section-2 {
  background-image: url("/images/DALLE2023-03-1701.04.30-80ssynthwavetextureforwebsitebackground.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 849px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 65px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 179px;
  transition-duration: 0.5s;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 201px;
  transition-duration: 0.5s;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 179px;
  transition-duration: 0.5s;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 603px;
  background-image: url("/images/DALLE2023-03-1701.07.11-80ssynthwaveteslacoil.png");
  background-position: 44.45% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 179px;
  transition-duration: 0.5s;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 179px;
  transition-duration: 0.5s;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 179px;
  transition-duration: 0.5s;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 148px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 166px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 148px;
  }

  .u-section-2 .u-image-1 {
    min-height: 497px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 148px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 148px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 148px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 968px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 571px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1254px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 857px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-container-layout-7 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 540px;
  }
}

.u-section-2 .u-layout-cell-6,
.u-section-2 .u-layout-cell-6:before,
.u-section-2 .u-layout-cell-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-layout-cell-6.u-layout-cell-6.u-layout-cell-6:hover:before {
  background-color: #47a9c9 !important;
}

.u-section-2 .u-layout-cell-5,
.u-section-2 .u-layout-cell-5:before,
.u-section-2 .u-layout-cell-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-layout-cell-5.u-layout-cell-5.u-layout-cell-5:hover:before {
  background-color: #47a9c9 !important;
}

.u-section-2 .u-layout-cell-7,
.u-section-2 .u-layout-cell-7:before,
.u-section-2 .u-layout-cell-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-layout-cell-7.u-layout-cell-7.u-layout-cell-7:hover:before {
  background-color: #47a9c9 !important;
}

.u-section-2 .u-layout-cell-3,
.u-section-2 .u-layout-cell-3:before,
.u-section-2 .u-layout-cell-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-layout-cell-3.u-layout-cell-3.u-layout-cell-3:hover:before {
  background-color: #47a9c9 !important;
}

.u-section-2 .u-layout-cell-2,
.u-section-2 .u-layout-cell-2:before,
.u-section-2 .u-layout-cell-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2:hover:before {
  background-color: #47a9c9 !important;
}

.u-section-2 .u-layout-cell-1,
.u-section-2 .u-layout-cell-1:before,
.u-section-2 .u-layout-cell-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1:hover:before {
  background-color: #47a9c9 !important;
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/images/DALLE2023-03-1711.15.25-80ssynthwavestyleworlddominatedbyrobots.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 30px 157px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 57px;
    margin-right: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 239px;
  }
}