 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/images/DALLE2023-03-1715.32.34-80sposterstylerobotatthebeginningofthestairs.png");
  background-position: 50% 39.77%;
}

.u-section-1 .u-sheet-1 {
  min-height: 534px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  font-family: Audiowide;
  margin: 45px auto 0 20px;
}

.u-section-1 .u-text-2 {
  font-family: Audiowide;
  margin: 20px 638px 0 20px;
}

.u-section-1 .u-text-3 {
  font-family: Audiowide;
  margin: -96px 45px 0 631px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Audiowide;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Audiowide;
  margin: -46px 363px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 438px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 21px;
    margin-right: 0;
    margin-left: 476px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -128px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 104px;
    margin-right: 163px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 218px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 256px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 38px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 170px;
    margin-left: 76px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -277px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 253px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 933px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 313px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -452px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 434px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 331px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 803px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-3 {
  width: 803px;
  margin: 0 169px 0 168px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-4 {
  width: 803px;
  margin: 0 169px 0 168px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-5 {
  width: 803px;
  margin: 0 169px 0 168px;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-6 {
  width: 803px;
  margin: 0 169px 60px 168px;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-3 {
    margin-right: 69px;
    margin-left: 68px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 69px;
    margin-left: 68px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 69px;
    margin-left: 68px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 69px;
    margin-left: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-text-3 {
    width: 720px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    width: 720px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    width: 720px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    width: 720px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }

  .u-section-2 .u-text-4 {
    width: 540px;
  }

  .u-section-2 .u-text-5 {
    width: 540px;
  }

  .u-section-2 .u-text-6 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }

  .u-section-2 .u-text-4 {
    width: 340px;
  }

  .u-section-2 .u-text-5 {
    width: 340px;
  }

  .u-section-2 .u-text-6 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 330px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 803px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-3 {
  width: 803px;
  margin: 0 169px 0 168px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-4 {
  width: 803px;
  margin: 0 169px 0 168px;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-5 {
  width: 803px;
  margin: 0 169px 60px 168px;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-3 {
    margin-right: 69px;
    margin-left: 68px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 69px;
    margin-left: 68px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 69px;
    margin-left: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-text-3 {
    width: 720px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    width: 720px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    width: 720px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-text-3 {
    width: 540px;
  }

  .u-section-3 .u-text-4 {
    width: 540px;
  }

  .u-section-3 .u-text-5 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
  }

  .u-section-3 .u-text-4 {
    width: 340px;
  }

  .u-section-3 .u-text-5 {
    width: 340px;
  }
} .u-section-4 {
  background-image: url("/images/DALLE2023-03-1700.09.38-createatextureforthebackgroundofa80sposterstylewebsite.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 664px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 37px;
  margin-bottom: 37px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 302px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 255px;
  height: 255px;
  background-image: url("/images/curso.JPG");
  background-position: 0% 50%;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 302px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin-top: 29px;
  margin-bottom: 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-family: Audiowide;
}

.u-section-4 .u-text-2 {
  margin-bottom: 0;
  margin-top: 20px;
  line-height: 1.8;
  font-style: italic;
  font-family: Audiowide;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 302px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 255px;
  height: 255px;
  background-image: url("/images/curso2.JPG");
  background-position: 75.39% 50%;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 302px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  font-family: Audiowide;
}

.u-section-4 .u-text-4 {
  margin-bottom: 0;
  margin-top: 20px;
  line-height: 1.8;
  font-style: italic;
  font-family: Audiowide;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 288px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Audiowide;
}

.u-section-4 .u-btn-3 {
  background-image: none;
}

.u-section-4 .u-text-6 {
  line-height: 1.8;
  font-style: italic;
  font-family: Audiowide;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 288px;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  width: 255px;
  height: 255px;
  background-image: url("/images/curso3.JPG");
  background-position: 6.61% 50%;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-7 {
  min-height: 288px;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-text-7 {
  font-family: Audiowide;
  margin: 29px 0 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
}

.u-section-4 .u-text-8 {
  margin-bottom: 0;
  margin-top: 20px;
  line-height: 1.8;
  font-style: italic;
  font-family: Audiowide;
}

.u-section-4 .u-layout-cell-8 {
  min-height: 288px;
}

.u-section-4 .u-container-layout-8 {
  padding: 0;
}

.u-section-4 .u-image-4 {
  width: 255px;
  height: 255px;
  background-image: url("/images/curso4.JPG");
  background-position: 20.31% 50%;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 309px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-1 {
    width: 235px;
    height: 235px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 309px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 11px 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 71px;
    margin-left: -11px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 26px;
    margin-right: 41px;
    margin-left: 19px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 309px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-2 {
    width: 235px;
    height: 235px;
    margin-right: -20px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 309px;
  }

  .u-section-4 .u-container-layout-4 {
    padding: 0 20px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 309px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-right: 60px;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 309px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-3 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 309px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 34px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 309px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-4 {
    width: 235px;
    height: 235px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 296px;
  }

  .u-section-4 .u-image-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 296px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: -18px;
    margin-right: 40px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    width: 140px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 296px;
  }

  .u-section-4 .u-image-2 {
    width: 180px;
    height: 180px;
    margin-right: 0;
    margin-left: -8px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 296px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 60px;
    margin-left: -20px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 5px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 269px;
  }

  .u-section-4 .u-image-3 {
    height: 180px;
    margin-top: 134px;
    margin-bottom: -45px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 269px;
  }

  .u-section-4 .u-image-4 {
    width: 180px;
    height: 180px;
    margin-top: 134px;
    margin-bottom: -45px;
    margin-left: -20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3206px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 518px;
  }

  .u-section-4 .u-image-1 {
    height: 500px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 580px;
  }

  .u-section-4 .u-image-2 {
    width: 500px;
    height: 500px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-5 {
    order: 1;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-btn-3 {
    padding: 10px 139px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 534px;
    order: 0;
  }

  .u-section-4 .u-image-3 {
    height: 500px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-7 {
    order: 3;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-btn-4 {
    padding: 15px 127px 16px 126px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 536px;
    order: 2;
  }

  .u-section-4 .u-image-4 {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2023px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 326px;
  }

  .u-section-4 .u-image-1 {
    height: auto;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 365px;
  }

  .u-section-4 .u-image-2 {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 244px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-4 .u-btn-3 {
    padding-left: 93px;
    padding-right: 93px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 336px;
  }

  .u-section-4 .u-image-3 {
    height: 300px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 241px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 20px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 35px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 390px;
  }

  .u-section-4 .u-image-4 {
    width: 300px;
    height: 300px;
    margin-top: 103px;
    margin-left: auto;
    margin-bottom: -13px;
  }
}