 .u-section-1 {
  background-image: none;
  min-height: 929px;
}

.u-section-1 .u-image-1 {
  height: 606px;
  margin-top: 0;
  margin-bottom: 0;
  filter: brightness(0.85);
  object-position: 50% 22.79%;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(3, auto);
  width: 1140px;
  margin: -182px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 469px;
  grid-gap: 20px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 258px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-family: "Palanquin Dark";
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 258px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  height: 258px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-7 {
  text-shadow: 6px 0px 3px rgba(242,242,242,1);
  background-image: none;
  font-size: 3.75rem;
  font-weight: 400;
  font-family: Audiowide;
  margin: -685px auto 619px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 905px;
  }

  .u-section-1 .u-image-1 {
    height: 542px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-top: -198px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 435px;
  }

  .u-section-1 .u-image-2 {
    height: 204px;
  }

  .u-section-1 .u-image-3 {
    height: 204px;
  }

  .u-section-1 .u-image-4 {
    height: 204px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -626px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1411px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-top: -199px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 945px;
  }

  .u-section-1 .u-image-2 {
    height: 242px;
  }

  .u-section-1 .u-image-3 {
    height: 242px;
  }

  .u-section-1 .u-image-4 {
    height: 242px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -1147px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2262px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: -226px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1811px;
  }

  .u-section-1 .u-image-2 {
    height: 419px;
  }

  .u-section-1 .u-image-3 {
    height: 419px;
  }

  .u-section-1 .u-image-4 {
    height: 419px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -2003px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1865px;
  }

  .u-section-1 .u-image-1 {
    height: 399px;
    filter: brightness(0.95);
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: -114px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1443px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-2 {
    height: 279px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-3 {
    height: 279px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-4 {
    height: 279px;
  }

  .u-section-1 .u-text-7 {
    font-size: 2.1875rem;
    font-weight: 700;
    margin-top: -1580px;
  }
}