.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 60px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 209px;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 141px;
  margin: 28px 224px 40px 247px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    margin-right: 124px;
    margin-left: 147px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-custom-html-1 {
    margin-right: 14px;
    margin-left: 37px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 302px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  margin: -14px 92px 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 16px auto 0 -23px;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 247px;
}

.u-section-4 .u-custom-html-1 {
  height: auto;
  min-height: 193px;
  width: 669px;
  margin: 27px auto;
}

@media (max-width: 767px) {
  .u-section-4 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-custom-html-1 {
    width: 340px;
  }
}