.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 60px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 193px;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 193px;
  margin: 0 471px 40px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    width: 669px;
    margin-right: 271px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-custom-html-1 {
    margin-right: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-custom-html-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-custom-html-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 302px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  margin: -14px 92px 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 16px auto 0 -23px;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 276px;
}

.u-section-4 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 55px;
  height: auto;
  min-height: 193px;
  width: 669px;
}

@media (max-width: 767px) {
  .u-section-4 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-custom-html-1 {
    width: 340px;
  }
}